---
import ContentLayout from "../layouts/ContentLayout.astro";
import SkillTemplate from './SkillTemplate.astro';
import profileImage from '../../public/profileImage.jpg';

import skill from '../data/skill.json';
---
<ContentLayout contentTitle="Profile">
	<h2 class="my-5 text-lg font-semibold font-Menlo">
		About
	</h2>
	<div class="flex justify-center items-center flex-col md:flex-row h-auto mb-10">
		<div class="avatar my-2 md:mr-10">
			<div class="w-32 sm:w-48 rounded-xl">
				<img src={profileImage.src} alt="" width="150" height="180"/>
			</div>
		</div>
		<div class="flex-col">
			<h2 class="card-title my-5 font-Menlo text-lg md:text-base lg:text-lg">Christopher Glitch</h2>
			<article class="text-wrap text-sm">
				千葉県出身。大学院の修士課程でVRを使った研究をしています。特にフロントエンドに興味がありますが、様々な技術に手を出しています。
			</article>
			<div class="flex flex-row justify-center mt-3">
				<a class="btn btn-ghost" href="https://github.com/christopher-glitch">Github</a>
			</div>
		</div>
	</div>
	<h2 class="my-5 text-lg font-semibold font-Menlo">
		Skill
	</h2>
	<div class="flex flex-col text-left space-t-3 text-base sm:hidden">
			<SkillTemplate type="Language" list={skill.language}/>
			<SkillTemplate type="Framework" list={skill.framework}/>
			<SkillTemplate type="Others" list={skill.others}/>
	</div>
	<div class="hidden sm:flex justify-around h-auto space-t-3 sm:text-base md:text-base">
		<div>
			<SkillTemplate type="Language" list={skill.language}/>
		</div>
		<div>
			<SkillTemplate type="Framework" list={skill.framework}/>
			<div class="block md:hidden my-3">
				<SkillTemplate type="Others" list={skill.others}/>
			</div>
		</div>
		<div class="hidden md:block">
			<SkillTemplate type="Others" list={skill.others}/>
		</div>
	</div>
</ContentLayout>
